<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Joker Alerts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0420D5B11E665E4D00CC8CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0420D5C51E665E4D00CC8CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0420D5D01E665E4D00CC8CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
